*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: rgb(41, 41, 41);
}
.numbers{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    flex-wrap: wrap;
    
}
.calculator{
    display: flex;
    border: 8px solid black;
    border-radius: 32px;
    height: 600px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
button{
    
    width: 40px;
    height: 40px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
.operators {
   
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 200px;
    height: 00px;
}
.display{
    background-color: skyblue;
    border-radius: 32px;
    padding: 16px;
    width: 250px;
    height: 16px;
    margin-bottom: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: flex;
}
.clear{
    font-weight: bold;
    font-size: larger;
}